## List

In [7]:
l=[2,'a',"kks"]

for i in l:
    print(i)
    
print(l[1:3])
print(l[-3:-1])

l[1]='b'
print(l)
print(len(l))

2
a
kks
['a', 'kks']
[2, 'a']
[2, 'b', 'kks']
3

In [11]:
l.append(23)
print(l)

[2, 'b', 'kks', 23, 23, 23]

In [47]:
l=[2,3,4]

for c in range(5):
    i=int(input())
    l.append(i)
print(l)

5
7
6
7
8
[2, 3, 4, 5, 7, 6, 7, 8]

In [49]:
l=[2,3,4]

while(1):
    i=int(input())
    if i==0:
        break
    l.append(i)
    
print(l)

5
6
7
0
[2, 3, 4, 5, 6, 7]

In [12]:
l.insert(4,"srs")
print(l)

[2, 'b', 'kks', 23, 'srs', 23, 23]

In [16]:
l.insert("yes")
print(l)

TypeError: insert expected 2 arguments, got 1

In [17]:
l.remove(23) #first matching item
print(l)

[2, 'b', 'kks', 'srs', 23, 23]

In [18]:
l.pop(2)
print(l)
l.pop()
print(l)

[2, 'b', 'srs', 23, 23]
[2, 'b', 'srs', 23]

In [28]:
l=[2,3,4,5,6,67]
del l[1]
print(l)
del l[2:4]
print(l)
del l
print(l) # error as the list deleted

[2, 4, 5, 6, 67]
[2, 4, 67]

NameError: name 'l' is not defined

In [29]:
l=[2,3,4,5,6,67]
l.clear() # all
print(l)

[]

In [31]:
l=[2,3,4,5,6,67]
i=int(input())
if i in l:
    print('yes')
else:
    print('no')

9
no

In [5]:
l=[2,3,4,5,6,67]
l2=l.copy()              ####     copy list
print(l2)
print(id(l))
print(id(l2))

[2, 3, 4, 5, 6, 67]
2105873798912
2105874633088

In [33]:
l3=['a','b',"srs",54]
l4=l2+l3                #### concatenate
print(l4)

[2, 3, 4, 5, 6, 67, 'a', 'b', 'srs', 54]

In [34]:
l4.reverse()               #### reverse list
print(l4)

[54, 'srs', 'b', 'a', 67, 6, 5, 4, 3, 2]

In [36]:
l=[2,3,4,5,6,67,8,3,4,2,8,0,4]
n=l.count(4)                   #### count occurance of an item
print(n)

3

In [38]:
l.sort()      # increasing order
print(l)

l.sort(reverse=True)     #decreasing order
print(l)

[0, 2, 2, 3, 3, 4, 4, 4, 5, 6, 8, 8, 67]
[67, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 0]

In [4]:
# sort acc to some criteria
l=['100','43','5','4325','900','65','9','7689']
def flen(c):
    return len(c)

print(flen(l[0]))

l.sort(key=flen)
print(l)

l.sort(reverse=True,key=flen)
print(l)

3
['5', '9', '43', '65', '100', '900', '4325', '7689']
['4325', '7689', '100', '900', '43', '65', '5', '9']

multi dimensional list

In [13]:
mlist=[[1,2,3,4],
       [5,6,7,8,9],
       [10,11,12]
      ]
print(mlist)
print(len(mlist))
print(len(mlist[0]))
print(mlist[1][3])

[[1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12]]
3
4
8

In [9]:
for i in range(len(mlist)):              # row
    for j in range(len(mlist[i])):       # col item
        print(mlist[i][j],end=" ")
    print()

1 2 3 4
5 6 7 8 9
10 11 12

In [17]:
r=4
c=3
ml=[[0 for x in range(c)] for y in range(r)]        #####   new
print(ml)

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [18]:
mlist.append([54,32,90])   # add new sublist
print(mlist)

[[1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12], [54, 32, 90]]

In [19]:
mlist[0].extend([31,100,76]) # add more items to a sublist
print(mlist)

[[1, 2, 3, 4, 31, 100, 76], [5, 6, 7, 8, 9], [10, 11, 12], [54, 32, 90]]

In [20]:
mlist.reverse()
print(mlist)

[[54, 32, 90], [10, 11, 12], [5, 6, 7, 8, 9], [1, 2, 3, 4, 31, 100, 76]]

In [21]:
mlist[2].reverse() #sublist reverse
print(mlist)

[[54, 32, 90], [10, 11, 12], [9, 8, 7, 6, 5], [1, 2, 3, 4, 31, 100, 76]]

In [22]:
mlist.sort()
print(mlist)

[[1, 2, 3, 4, 31, 100, 76], [9, 8, 7, 6, 5], [10, 11, 12], [54, 32, 90]]

In [23]:
mlist[0].sort()
print(mlist)

[[1, 2, 3, 4, 31, 76, 100], [9, 8, 7, 6, 5], [10, 11, 12], [54, 32, 90]]

##  Tuple

In [25]:
tup= ("c","c++","java","python",2,76,'s','a')
print(tup)

('c', 'c++', 'java', 'python', 2, 76, 's', 'a')

In [27]:
t=("hello",)                     # single item
print(t)

('hello',)

In [28]:
for i in tup:
    print (i)

c
c++
java
python
2
76
s
a

In [30]:
print(tup[5])

76

In [31]:
print(tup[2:5])

('java', 'python', 2)

In [33]:
print(tup[-5:-1])

('python', 2, 76, 's')

In [34]:
print(len(tup))

8

In [37]:
i=input()
if i in tup:
    print('yes')
    
else:
    print('no')

java
yes

In [39]:
# items first occurance index

t=(4,6,9,2,4,9,1,5,6,9)
i=int(input())
x=t.index(i)                  #   new
print(x+1)

9
3

In [40]:
t2=tup+t
print(t2)

('c', 'c++', 'java', 'python', 2, 76, 's', 'a', 4, 6, 9, 2, 4, 9, 1, 5, 6, 9)

In [41]:
n=t2.count(4)
print(n)

2

In [42]:
del t

In [43]:
print(t) # as deleted

NameError: name 't' is not defined

In [44]:
for i in range(len(t2)):
    print(t2[i])

c
c++
java
python
2
76
s
a
4
6
9
2
4
9
1
5
6
9