In [6]:
n=int(input())
if n%2==0:
    print('{0} is even'.format(n)) ############ new
else:
    print("{0:003d} is odd".format(n))

9
009 is odd

In [7]:
def fact(num):
    if num==1:
        return num
    else:
        return num*fact(num-1)
n=int(input('enter:'))
if n==0:
    print('1')
elif n>0:
    print(fact(n))

enter:5
120

In [20]:
n=int(input())
for i in range(2,n):
    if n%i==0:
        print('not prime')
        break
    else:
        print('prime')
        break

15
prime

In [22]:
a=[]
n=int(input('how mnay:'))
for i in range(n):
    b=int(input())
    a.append(b)
a.sort()
print(a)
print(a[n-1])

how mnay:4
2
89
6
1
[1, 2, 6, 89]
89

In [23]:
a=int(input())
b=int(input())
print(a , b)
a=a+b
b=a-b
a=a-b
print(a, b)

4
5
4 5
5 4

In [24]:
#fibonacci
def fib(n):
    if(n<=1):
        return n
    else:
        return fib(n-1)+fib(n-2)
t=10
for i in range(t):
    print(fib(i))

0
1
1
2
3
5
8
13
21
34

In [31]:
#palindrome
s="RAdAR"
s=s.casefold() # to makelowercase , not necessary here
print(s)
r=reversed(s) ##################new
if list(s)==list(r):
    print("palindrome")
else:
    print('not')

radar
palindrome

In [38]:
n=int(input())
tem=n
rev=0
while n>0:
    dig= n%10
    print('dig',dig)
    rev=rev*10+dig
    print('rev',rev)
    n=n//10
    print('n',n)
if tem==rev:
    print('palindrome')
else:
    print('not')

121
dig 1
rev 1
n 12
dig 2
rev 12
n 1
dig 1
rev 121
n 0
palindrome

In [53]:
#pascal triangle
#nCr

def fact(n):
    f=1
    i=1
    while i<=n:
        f=f*i
        i+=1
    return f
n=int(input('no of lines:'))
for i in range(n):
    for j in range(n-i):
        print(end=" ") #left space
    for k in range(i+1):
        print(fact(i)//(fact(k)*fact(i-k)),end=" ")
    print() #new line

no of lines:5
     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1

In [43]:
from math import factorial
  
# input n
n = 5
for i in range(n):
    for j in range(n-i+1):
  
        # for left spacing
        print(end=" ")
  
    for j in range(i+1):
  
        # nCr = n!/((n-r)!*r!)
        print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
  
    # for new line
    print()

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

In [75]:
#using binomial coeficient
n=6
for i in range(1,n+1):
    for j in range(n-i):
        print(end=' ')
    c=1 #FIXED 1st element
    for k in range(1,i+1):
        print(' ',c,sep='',end='') #first value of a line always 1
        c=c*(i-k)//k
    print()

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1
 1 5 10 10 5 1

In [87]:
#using power of 11
# 11**0=1
# 11**1=11
# 11**2=121

n=5
for i in range(n):
    print(' '*(n-i),end='')     ###################### new
    print(' '.join(map(str,str(11**i))))

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1

In [90]:
#leap year
y=int(input())
if (y%4==0 and y%100!=0 or y%4000==0):
    print('lreapyear')
else:
    print('not')

1993
not

In [100]:
#FACT 1 TO N
n=int(input())
for i in range(1,n+1):
    c=i
    f=1
    for j in range(1,c+1):
        print('j',j)
        f=f*j
    print(i,':',f)

5
j 1
1 : 1
j 1
j 2
2 : 2
j 1
j 2
j 3
3 : 6
j 1
j 2
j 3
j 4
4 : 24
j 1
j 2
j 3
j 4
j 5
5 : 120

In [113]:
# prime 1 to n

n=int(input())
for i in range(1,n+1):
    count=0
    c=i
    for j in range(1,c+1):
       # print(j)
        if c%j==0:
            count+=1
    if count==2:
        print(c)
       # pass

50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [124]:
#floyd triangle
n=1
r=int(input('n row:'))
for i in range(1,r+1):
    for j in range(1,i+1):
        print(n,end='  ')
        n+=1
    print()

n row:5
1
2  3
4  5  6
7  8  9  10
11  12  13  14  15

In [126]:
#reverse num
rev=0
n=int(input())
while n>0:
    
    dig=n%10
    rev=rev*10+dig
    n=n//10
print(rev)

12
21

In [128]:
#sum of digit
s=0
n=int(input())
while n>0:
    
    dig=n%10
    s=s+dig
    n=n//10
print(s)

52
7

In [129]:
#random number

import random
n=int(input("how many:"))
m=int(input('max:'))
for i in range(n):
    print(random.randint(0,m))

how many:5
max:100
18
37
4
26
11

In [138]:
c=float(input('celcius:'))
f=(c*1.8)+32
print('fahrenheit = {0:.2f}'.format(f))     ########### new

celcius:58
fahrenheit = 136.40

In [139]:
#anagram
s1=input('1st str:')
s2=input("2nd str:")
if sorted(s1)==sorted(s2): ################## new
    print('anagram')
else:
    print('not')

1st str:cola
2nd str:coal
anagram

In [141]:
#LCM : min num that is divisible by both

n1=int(input())
n2=int(input())
if n1>n2:
    min=n1
else:
    min=n2
while(1):
    
    if min%n1==0 and min%n2==0:
        print('lcm',min)
        break
    else:
        min+=1

3
4
lcm 12

In [144]:
#gcd
def gcd(a,b):
    if b==0:
        return a
    else:
        return gcd(b,a%b)
n1=int(input())
n2=int(input())

ans=gcd(n1,n2)
print('gcd',ans)

15
5
gcd 5

In [147]:
p=float(input())
t=float(input())
r=float(input())
si=p*t*r/100
print("simple interest is %.2f" %si) ############## new

1500
2.5
3
simple interest is 112.50